@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-color: #009000;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255,255,255,.3);
    --shadow: rgba(255, 255, 255, 0.2) 1.95px 1.95px 2.6px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--bg);
    max-width: 1600px;
    margin: auto;
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 3.5rem;
    font-size: 4rem;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    box-shadow: var(--shadow);
}

.btn:hover {
    letter-spacing: 0.2rem;
}

/* =============================== HEADER =============================== */

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header .logo__header img {
    width: 10%;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}


/* =============================== MAIN =============================== */


.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/home-img.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(60%);
}

.home .content {
    max-width: 70rem;
}

.home .content h1 {
    font-size: 8rem;
    text-transform: uppercase;
    color: var(--main-color);
}

.home .content p {
    font-size: 3rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}


/* =============================== ABOUT =============================== */


.about .row {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: var(--main-color);
}

.about .row .content p {
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}


/* =============================== NOUVEAUTÉS =============================== */


.news .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.news .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.news .box-container .box img {
    height: 20rem;
    border-radius: 50%;
    box-shadow: var(--shadow);
}

.news .box-container .box h3 {
    color: var(--main-color);
    font-size: 2rem;
    padding: 1rem 0;
}

.news .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.news .box-container .box:hover {
    background: var(--main-color);
}

.news .box-container .box:hover > * {
    color: var(--black);
}


/* =============================== BOB =============================== */


.bobs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
}

.bobs .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.bobs .box-container .box .image {
    padding: 2.5rem 0;
}

.bobs .box-container .box .image img {
    height: 25rem;
    box-shadow: var(--shadow);
}

.bobs .box-container .box .image img:hover {
    transform: scale(1.2);
    transition: 0.6s all ease;
}

.bobs .box-container .box .content h3 {
    color: var(--main-color);
    font-size: 2.5rem;
}

.bobs .box-container .box .content .stars {
    padding: 1.5rem;
}

.bobs .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: #fff;
}

.bobs .box-container .box .content .price {
    color: var(--main-color);
    font-size: 2.5rem;
}

.bobs .box-container .box .content .price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}


/* =============================== REVIEW =============================== */


.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.review .box-container .box .stars i {
    font-size: 1.5rem;
    color: var(--main-color);
}


/* =============================== CONTACT =============================== */


.contact .row {
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: contain;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: var(--main-color);
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .inputBox span {
    color: var(--main-color);
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: var(--main-color);
    text-transform: none;
    background: none;
}


/* =============================== PARTNER =============================== */


.partners .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
}

.partners .box-container .box {
    border: var(--border);
}

.partners .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.partners .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.partners .box-container .box:hover .image img {
    transform: scale(1.2);
}

.partners .box-container .box .content {
    padding: 2rem;
}

.partners .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}

.partners .box-container .box .content .title:hover {
    color: var(--main-color);
}

.partners .box-container .box .content span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.partners .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}


/* =============================== FOOTER =============================== */


.footer {
    background: var(--black);
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: 0.3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background: var(--main-color);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: 0.7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background: var(--main-color);
}

.footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
}


/* =============================== MENTION =============================== */


.mention-box {
    border: 1px solid #fff;
}

.mention-box p {
    font-size: 2rem;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
}


/* =============================== @MEDIA =============================== */


@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        text-align: center;
        position: absolute;
        top: 100%;
        right: -100%;
        background: var(--black);
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar.active {
        right: 0;
    }
    .header .navbar a {
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3 {
        font-size: 4.5rem;
    }
    .home .content p {
        font-size: 1.5rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}


